.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    min-height: 75vh;
    padding: 2rem;
}

img {
    max-width: 400px;
}

.about-day {
    padding-bottom: .5rem;
    border-bottom: 1px solid #CCC;
}

.comments {
    color: black;
}

.comment-form {
    width: 60%;
}

.comment-form > h3 {
    margin: .5rem 0;
}

#myForm {
    gap: 1rem;
}