<div class="day" *ngIf="mydevday">
    <h1> {{ mydevday.title }} </h1>
    <img src="{{ baseApiUrl }}uploads/{{ mydevday.image }}" 
    alt="{{ mydevday.title }}">

    <div class="about-day">
        <h3>Sobre este dia:</h3>
        <p>{{ mydevday.text }}</p>
    </div>

    <div class="actions">
        <h3>Ações:</h3>
        <a routerLink="/mydevday/edit/{{ mydevday.id }}" class="edit-btn">
            <fa-icon [icon]="faEdit"></fa-icon> Editar
        </a>
        <button class="remove-btn" (click)="removeHandler(mydevday.id!)">
            <fa-icon [icon]="faTimes"></fa-icon> Excluir
        </button>
    </div>

    <div class="comments">
        <p>Comentários {{ mydevday.comments!.length > 0 ? mydevday.comments!.length : 0}}</p>

        <div *ngIf="mydevday.comments!.length > 0; else noComments">
            <div class="comment-container" *ngFor="let comment of mydevday.comments">
                <p class="comment">{{ comment.user_comment }}</p>
                <p class="author"><span>por:</span> {{ comment.user_name }}</p>
            </div>
        </div>

        <ng-template #noComments>
            <p>Não há comentários</p>
        </ng-template>
    </div>

    <div class="comment-form">
        <h3>Deixe um comentário:</h3>
        <form [formGroup]="commentForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
            <div class="form-group">
                <label>
                    <textarea formControlName="user_comment" placeholder="O que você quer comentar?" required></textarea>
                    <div *ngIf="user_comment.invalid && formDir.submitted" class="inputError">
                        <p *ngIf="user_comment.errors?.['required']">O comentário é obrigatório.</p>
                    </div>
                </label>
                <label>
                    <input formControlName="user_name" type="text" placeholder="Digite seu nome" required>
                    <div *ngIf="user_name.invalid && formDir.submitted" class="inputError">
                        <p *ngIf="user_comment.errors?.['required']">O seu nome é obrigatório.</p>
                    </div>
                </label>
            </div>
            <input type="submit" value="Comentar">
        </form>
    </div>
</div>