.home-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
	padding: 2rem 2rem;
    align-items: center;
	text-align: center;
	min-height: 75vh;
}

.search-container > form {
	border: 2px solid #003;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 0 2rem;
}

.search-container > form > input {
	flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 1rem;
	text-align: center;
}

.days-container {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	justify-content: center;
}

.days {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	border: 1px solid aqua;
	border-radius: 1rem;
	padding: 2rem;
}

.days > img {
	max-width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 1rem;
}

.days-text {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .3rem;
}

.days-text a {
	background: #000;
	padding: .5rem 1rem;
	width: fit-content;
	border-radius: 1rem;
}

.days-text a:hover {
	scale: 105%;
}