<div class="about">
    <div>
        <h2>My Dev Day</h2>
        <p>
            A plataform My Dev Day serve para você programador ou futuro programador publicar seus relatórios diários em relação ao seu desempenho no mundo da programação. Ele pode ser utilizado como seu próprio diário, podendo adicionar título, descrição e imagem que remeta ao seu dia. Além disso, também é possível que outras pessoas participe do seu dia fazendo comentários.
        </p>
    </div>

    <div>
        <h3>Tecnologias</h3>
        <p>O My Dev Day foi desenvolvido com o framework Angular, a plataforma também faz a utilização de uma API desenvolvida com o framework AdonisJs. Todo o projeto foi feito seguindo as aulas de uma playlist do YouTube do canal "Hora de Codar"</p>
    </div>
</div>