footer {
    background: #000015;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 15vh;
}

footer h3 {
    font-weight: 100;
    max-width: 50%;
    color: #FFF;
}

footer p {
    color: #FFF;
}

footer span {
    color: aqua;
}